html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

@keyframes fadein{
   from{opacity:0;}
   to{opacity:1;}
}

.page-load {
	background-image: url("../Images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	margin: 0;
	animation: fadein 4s;
}
